$theme-colors: (
    "primary": #870F0A,
    "secondary": #ffffff,
    "page-bg": #d1d1d1,
    "card-bg": #f1f1f1,
    "accent": #870F0A
);

@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

table {
    border-collapse: separate !important;
    border-spacing: 0;
}

thead {
    background-color: #870F0A;
    border-collapse: separate !important;
    border-radius: 4px;
}

th {
    padding-left: 1rem;
    padding-right: 1rem;
    color: map.get($theme-colors, "secondary");
}

tr {
    padding-left: 1rem;
    padding-right: 1rem;
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
}

@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Itim', cursive;
  color: map.get($theme-colors, "text-primary");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
